.places {
    font-size: 30px;
}

.places div {
    text-align: center;
}

.places article {
    border: 1px solid;
    border-color: #FF5A5F;
    border-radius: 4px;
    display: inline-block;
    margin: 20px;
    padding: 20px 0 30px;
    width: 390px;
    position: relative;
}

.places article h2 {
    text-align: center;
    font-size: 30px;
}

.price_by_night {
    color: #FF5A5F;
    border: 4px solid;
    border-color: #FF5A5F;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 5px;
}

.places .information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 40px 20px;
    font-size: 15px;
    position: relative;
}

.max_guest {
    background: url(../images/icon_group.png) no-repeat center;
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number_rooms {
    background: url(../images/icon_bed.png) no-repeat center;
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number_bathrooms {
    background: url(../images/icon_bath.png) no-repeat center;
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.information p {
    position: absolute;
    bottom: 0;
}

.user p, .description p{
    font-size: 15px;
    text-align: start;
    padding: 0 10px;
}
